.espaçamento{
	padding-top: 10px;
	padding-bottom: 10px;
}
.textfont{
	font-size: 18px;
}
 
.menu-item: hover{
	color: pink;
}
.alinhar{
	padding-right: 500px;
}
.edit{
	padding-top: 10px;
}
nav.fixar{
    position: fixed;
    margin-top: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}