.espaçamento{
	padding-top: 10px;
	padding-bottom: 10px;
}
.textfont{
	font-size: 18px;
}

.nav-item :hover{
	border-bottom: 5px solid rgba(206, 25, 90, 0.9);
	padding-bottom: 27px;
}

.alinhar{
	padding-right: 500px;
}

.edit{
	padding-top: 10px;
}

nav.fixar{
    position: fixed;
    margin-top: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}

.bump {
	padding-left: 8px;
}

.aj-icon {
	padding-left: 20px;
}

a[href="#cabe"]{
    padding:10px;
    position:fixed;
    top: 80%;
    right:40px;
    display:none;
    font-size: 38px;
		color: #292b2c !important;
}
a[href="#cabe"]:hover{
    text-decoration:none;
}

.edit-text {
	color: #292b2c !important;
}

.edit-align {
	padding-top: 50px;

}

.align-right {
	float: right;
}

.btn-secondary {
		color: #292b2c;
		background-color: #ED809D;
		border-color: #ED809D;
}

.btn-secondary:hover {
		color: #292b2c;
		background-color: #E85489;
    border-color: #E85489;
}

.btn-secondary:active {
		background-color: #E53C81;
}

.btn-primary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary:hover {
    color: #292b2c;
    background-color: #d3d3d3;
    border-color: #ccc;
}

.btn-primary:active {
	background-color: #adadad;
	border-color: #adadad;
}

.menu-barra {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-link {
    display: block;
    padding: 32px;
		padding-left: 32px !important;
		padding-right: 32px !important;
}

.link-select, .link-select:link{
	border-bottom: 5px solid rgba(114, 192, 194, 1);
	padding-bottom: 27px;
}

.align-menu {
	line-height: 55px;
}

.align-up {
	line-height: 0px;
}

.align-bottom {
	padding-top: 10px;
}

.align-top {
	padding-bottom: 10px;
}
